/* curriculum Starts */
.curriculum {
  padding: 40px 20px;
  display: flex;
  justify-content: center;
  font-family: 'Poppins', sans-serif !important;
}

.content {
  max-width: 900px;
}

.content p {
  line-height: 1.6;
  text-align: justify;
}

/* 📱 Mobile */
@media (max-width: 768px) {
  .curriculum {
    padding: 20px 15px;
  }

  .content {
    font-size: 14px;
  }
}

.programs {
  padding: 50px 20px;
  background: #efecec;
}

.programs-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

/* Card */
.card {
  background: #eee;
  padding: 20px;
  transition: 0.3s ease;
  font-family: 'Poppins', sans-serif !important;
}

.card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  margin-bottom: 15px;
}

.card h3 {
  color: #d32f2f;
  margin-bottom: 10px;
  font-size: 18px;
}

.card p {
  line-height: 1.6;
}

/* Hover effect */
.card:hover {
  transform: translateY(-5px);
}

/* 📱 Tablet */
@media (max-width: 992px) {
  .programs-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* 📱 Mobile */
@media (max-width: 600px) {
  .programs-container {
    grid-template-columns: 1fr;
  }

  .card img {
    height: 180px;
  }
}