/* contact us page starts*/
/* Container */
.contact-container {
  padding: 40px 20px;
  font-family: 'Poppins', sans-serif !important;
}

/* Full width wrapper */
.contact-banner-wrapper {
  width: 100%;
  overflow: hidden;
}

/* Full screen banner image */
.contact-banner {
  width: 100%;
  object-fit: cover;
  display: block;
}

.contact-banner-wrapper {
  position: relative;
}

.banner-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 2rem;
  font-weight: bold;
}

/* Top Section */
.contact-top {
  display: flex;
  gap: 30px;
  margin-bottom: 40px;
}

/* Left Column */
.contact-info {
  flex: 1;
  background: #1f2937;
  color: white;
  padding: 30px;
  border-radius: 10px;
}

.contact-info h2 {
  margin-bottom: 15px;
  font-size: 2rem;
}

.contact-info p {
  margin: 10px 0px 21px;
  font-size: 19px;
}

.contact-info a {
    text-decoration: none;
    color: #fff;
}

.contact-info a:hover {
    text-decoration: none;
    color: #d4caca;
}

/* Apply button */
.apply-btn {
  background-color: #f4c542;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
}

.admission-banner {
  width: 100%;
  border-radius: 0;
  padding-top:5%
}

.admission-banner {
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.callback-btn:hover {
  background-color: rgb(179, 140, 36);
}

.apply-btn:hover {
  background-color: #e0b233;
}

/* Right Column */
.contact-form {
  flex: 1;
  background: #9aa0a6;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.contact-form h2 {
  margin-bottom: 15px;
}

.contact-form form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-form input,
.contact-form textarea {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 16px;
}

.contact-form textarea {
  min-height: 100px;
}

.contact-form button {
  background: #0a2a66;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.contact-form button:hover {
  background: #000e27;
}

/* Map */
.contact-map iframe {
  width: 100%;
  height: 400px;
  border: 0;
  border-radius: 10px;
}

/* Responsive */
@media (max-width: 768px) {
  .contact-top {
    flex-direction: column;
  }
}
/* contact us page Ends*/